.card {
    width: 30%;
    display: inline-block;
    border-radius: 8px;
    margin: 0 15px;
padding: 15px 0px;
}   
#myModal {
    width: 80%;
    left: 30%;
}

}
.card h3{
    color: #333;
    color: #111;
    text-align: center;
}

.card .img-container{
    width: 80%;
    margin: 0 30px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    border: 3px solid #fff;
}
.card .img-container img{
    border-radius: 50%;
    height: 260px;  
    width: 100%;
}

.accordion {
   margin: 15px;  

}
