/* desain by Welly */

.list-penginapan li{
    list-style: none;
}
.info-page{
    top: 15%;
    position: absolute;
    width: 96%;
    z-index: 0;
    margin: 0 2%;  
}
.information{
    background-color: rgba(0,0,0,.6);
    height: 635px;
    position: relative;
}
.video{
    overflow: hidden;
    width: 1349px;
    height: 759px;
    left: 0px;
    top: -46px;
}
.img-info{
    z-index: 2;
    width: 280px;
    height: 235px;
    margin-left: 5%;
    margin-top: 2.5%;
}
.image-place{
    margin: 20px 5px 10px 20px;
    height: 100% !important;
}
.info-place{
    position: absolute;
    top: 10px;
    left: 27%;
    width: 47%;
}
.address{
    margin: 20px 11px;
    line-height: 2;
}
.right-info{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 300px;
    height: 300px;
}
.footer-info{
    position: absolute;
    top: 50%;
    right: 2%;
    width: 25%;
}
.comment{
    width: 300px;
    margin: 25px 55px 0px 55px;
    height: 350px;
}
.people1{
    margin-top: 10px; 
}
.people2{
    margin-top: 30px; 
}
.people3{
    margin-top: 30px; 
}
.fotpep{
    margin: 0px 10px;
    border: 1px solid #0000001c;
    width: 50px;
    height: 45px;
    float: left;
    border-radius: 50px;
}
.com{
    padding-top: 5px !important;
    padding: 0;
    font-size: 11px;
    line-height: 1;
}
.ulasan{
    color: #FECE1A; 
    margin-left: 10px;
}
.title-wahana{
    color: #FECE1A; 
    font-weight: bold; 
}
.wahana-information{
    line-height: 1.4;
    text-indent: 3pc;
    text-align: justify;
    word-spacing: 1px;
    padding-right: 25px;
}
.button-footer{
    margin-right: 25px; margin-top: 25px;
}
.way {
	-moz-box-shadow:inset 0px 0px 5px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 5px 0px #ffffff;
	box-shadow:inset 0px 0px 5px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffcc00;
}
.way:hover {
    -moz-box-shadow:inset 0px 0px 10px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 10px 0px #ffffff;
	box-shadow:inset 0px 0px 10px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffcc00;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffcc00;
}
.way:active {
	position:relative;
	top:1px;
}
@media (min-width: 585px) and (max-width: 767px) {
    body {
        display: block;
        padding-left:0;
        padding-right:0;
    }
    .navbar .container {
        width: 100%;
        padding: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
    .information{
        background-color: #181818;
        height: 100%;
        position: relative;
    }
    .img-info{
        width: 320px;
        height: 220px;
        margin-top: 85px;
    }
    .place-video{
        padding-top: 7%;
        height: auto;
    }
    .info-page{
        width: 100%;
        z-index: 0;
        position: inherit;
        top: 0;
        margin: 0;
    }
    .video{
        width: 100%;
        height: 100%;
    }
    .info-place{
        position: inherit;
        width: 47%;
        margin-left: 37px;
    }
    .address{
        margin: 20px 11px;
        line-height: 2;
    }
    .right-info{
        position: absolute;
        top: 3% ;
        right: 2%;
        width: 300px;
        height: 300px;
    }
    .footer-info {
        position: absolute;
        top: 35%;
        right: 2%;
        width: 44%;
    }
    .comment{
        position: absolute;
        width: 300px;
        height: 350px;
        top: 57%;
        left: 48%;
    }
    .people1{
        margin-top: 10px; 
    }
    .people2{
        margin-top: 30px; 
    }
    .people3{
        margin-top: 30px; 
    }
    .fotpep{
        margin: 0px 10px;
        border: 1px solid #0000001c;
        width: 50px;
        height: 45px;
        float: left;
        border-radius: 50px;
    }
    .com{
        padding-top: 5px !important;
        padding: 0;
        font-size: 11px;
        line-height: 1;
    }
    .ulasan{
        color: #FECE1A; 
        margin-left: 10px;
    }
    .title-wahana{
        color: #FECE1A; 
        font-weight: bold; 
        position: absolute;
        top: 2%;
    }
    .wahana-information{
        padding: 0;
        line-height: 1.4;
        text-indent: 3pc;
        text-align: justify;
        width: 315px;
        word-spacing: 1px;
    }
    .way {
        -moz-box-shadow:inset 0px 0px 5px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 5px 0px #ffffff;
        box-shadow:inset 0px 0px 5px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:14px;
        padding:10px 20px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
    }
    .way:hover {
        -moz-box-shadow:inset 0px 0px 10px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 10px 0px #ffffff;
        box-shadow:inset 0px 0px 10px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffcc00;
        font-size:15px;
        padding:10px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
    }
    .way:active {
        position:relative;
        top:1px;
    }
    .button-footer{
        width: 195%;
        margin-top: 0;
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    body {
        display: block;
        padding-left:0;
        padding-right:0;
    }
    .navbar .container {
        width: 100%;
        padding: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
    .information{
        background-color: #181818;
        height: 100%;
        position: relative;
    }
    .img-info{
        width: 50%;
        height: 320px;
        margin-top: 85px;
    }
    .place-video{
        padding-top: 7%;
        height: auto;
    }
    .info-page{
        width: 100%;
        z-index: 0;
        position: inherit;
        top: 0;
        margin: 0;
    }
    .video{
        width: 100%;
        height: 100%;
    }
    .info-place{
        position: inherit;
        width: 47%;
        margin-left: 37px;
    }
    .address{
        margin: 20px 11px;
        line-height: 2;
    }
    .right-info{
        position: absolute;
        top: 3% ;
        right: 7%;
        width: 40%;
        height: 35%;
    }
    .footer-info {
        position: absolute;
        top: 44%;
        right: 2%;
        width: 44%;
    }
    .comment{
        position: absolute;
        width: 415px;
        height: 350px;
        top: 64%;
        left: 50.5%;
    }
    .people1{
        margin-top: 10px; 
    }
    .people2{
        margin-top: 30px; 
    }
    .people3{
        margin-top: 30px; 
    }
    .fotpep{
        margin: 0px 10px;
        border: 1px solid #0000001c;
        width: 50px;
        height: 45px;
        float: left;
        border-radius: 50px;
    }
    .com{
        padding-top: 5px !important;
        padding: 0;
        font-size: 11px;
        line-height: 1;
    }
    .ulasan{
        color: #FECE1A; 
        margin-left: 10px;
    }
    .title-wahana{
        color: #FECE1A; 
        font-weight: bold; 
        position: absolute;
        top: 2%;
    }
    .wahana-information{
        line-height: 1.4;
        text-indent: 3pc;
        text-align: justify;
        width: 110%;
        word-spacing: 1px;
    }
    .way {
        -moz-box-shadow:inset 0px 0px 5px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 5px 0px #ffffff;
        box-shadow:inset 0px 0px 5px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:14px;
        padding:5px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
    }
    .way:hover {
        -moz-box-shadow:inset 0px 0px 10px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 10px 0px #ffffff;
        box-shadow:inset 0px 0px 10px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffcc00;
        font-size:15px;
        padding:5px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
    }
    .way:active {
        position:relative;
        top:1px;
    }
    .button-footer{
        width: 105%;
        margin-top: 0;
        margin-bottom: 15px;
    }
}

@media (min-width: 400px) and (max-width: 584px) {
    body {
        display: block;
        padding-left:0;
        padding-right:0;
    }
    .navbar .container {
        width: 100%;
        padding: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
    .information{
        background-color: #181818;
    height: 111%;
    position: relative;
    }
    .img-info{
        width: 85%;
        height: 70%;
        margin-top: 85px;
    }
    .place-video{
        padding-top: 7%;
        height: auto;
    }
    .info-page{
        width: 100%;
        z-index: 0;
        position: inherit;
        top: 0;
        margin: 0;
    }
    .video{
        width: 100%;
        height: 100%;
    }
    .info-place{
        position: inherit;
    width: 47%;
    margin-left: 37px;
    }
    .address{
        margin: 20px 11px;
        line-height: 2;
    }
    .right-info{
        position: inherit;
        width: 300px;
        height: 300px;
        top: 0; 
        right: 0 !important;
        margin-left: 8%;
    }
    .footer-info {
        position: inherit;
        width: 92%;
        margin-left: 3%;
    }
    .comment{
        width: 85%;
    height: 350px;
    margin-left: 6%;
    }
    .people1{
        margin-top: 10px; 
    }
    .people2{
        margin-top: 30px; 
    }
    .people3{
        margin-top: 30px; 
    }
    .fotpep{
        margin: 0px 10px;
        border: 1px solid #0000001c;
        width: 50px;
        height: 45px;
        float: left;
        border-radius: 50px;
    }
    .com{
        padding-top: 5px !important;
        padding: 0;
        font-size: 11px;
        line-height: 1;
    }
    .ulasan{
        color: #FECE1A; 
        margin-left: 10px;
    }
    .title-wahana{
        color: #FECE1A; 
        font-weight: bold; 
        position: absolute;
        top: 1%;
    }
    .wahana-information{
        padding: 0;
        line-height: 1.4;
        text-indent: 3pc;
        text-align: justify;
        width: 160%;
        word-spacing: 1px;
    }
    .way {
        -moz-box-shadow:inset 0px 0px 5px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 5px 0px #ffffff;
        box-shadow:inset 0px 0px 5px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:10px;
        padding:10px 20px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
    }
    .way:hover {
        -moz-box-shadow:inset 0px 0px 10px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 10px 0px #ffffff;
        box-shadow:inset 0px 0px 10px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffcc00;
        font-size:12px;
        padding:10px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
    }
    .way:active {
        position:relative;
        top:1px;
    }
    .button-footer{
        width: 195%;
        margin-top: 0;
        margin-bottom: 15px;
    }
}
  
@media (min-width: 200px) and (max-width: 399px) {
    body {
        display: block;
        padding-left:0;
        padding-right:0;
    }
    .navbar .container {
        width: 100%;
        padding: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
    .information{
        background-color: #181818;
    height: 111%;
    position: relative;
    }
    .img-info{
        width: 85%;
        height: 70%;    
        margin-top: 135px;
    }
    .place-video{
        padding-top: 7%;
        height: auto;
    }
    .info-page{
        width: 100%;
        z-index: 0;
        position: inherit;
        top: 0;
        margin: 0;
    }
    .video{
        width: 100%;
        height: 100%;
    }
    .info-place{
        position: inherit;
        width: 47%;
        margin-left: 37px;
    }
    .address{
        margin: 20px 11px;
        line-height: 2;
    }
    .right-info{
        position: inherit;
        width: 300px;
        height: 300px;
        top: 0; 
        right: 0 !important;
        margin-left: 8%;
    }
    .footer-info {
        position: inherit;
        width: 92%;
        margin-left: 3%;
    }
    .comment{
        width: 85%;
    height: 350px;
    margin-left: 6%;
    }
    .people1{
        margin-top: 10px; 
    }
    .people2{
        margin-top: 30px; 
    }
    .people3{
        margin-top: 30px; 
    }
    .fotpep{
        margin: 0px 10px;
        border: 1px solid #0000001c;
        width: 50px;
        height: 45px;
        float: left;
        border-radius: 50px;
    }
    .com{
        padding-top: 5px !important;
        padding: 0;
        font-size: 11px;
        line-height: 1;
    }
    .ulasan{
        color: #FECE1A; 
        margin-left: 10px;
    }
    .title-wahana{
        color: #FECE1A; 
        font-weight: bold; 
        position: absolute;
        top: 1%;
    }
    .wahana-information{
        padding: 0;
        line-height: 1.4;
        text-indent: 3pc;
        text-align: justify;
        width: 160%;
        word-spacing: 1px;
    }
    .way {
        -moz-box-shadow:inset 0px 0px 5px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 5px 0px #ffffff;
        box-shadow:inset 0px 0px 5px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:9px;
        padding:5px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
        margin: 10px 0px;
    }
    .way:hover {
        -moz-box-shadow:inset 0px 0px 10px 0px #ffffff;
        -webkit-box-shadow:inset 0px 0px 10px 0px #ffffff;
        box-shadow:inset 0px 0px 10px 0px #ffffff;
        background-color:transparent;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        display:inline-block;
        cursor:pointer;
        color:#ffcc00;
        font-size:9px;
        padding:5px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffcc00;
    }
    .way:active {
        position:relative;
        top:1px;
    }
    .button-footer{
        width: 109%;
        margin-top: 0;
        margin-bottom: 15px;
    }
}
  